{% extends '__base.html' %} {% block htitle %}{{'Per.ez Url Shortener'}}.{% endblock %} {% block content %}
<div class="container">
    <div class="row" style="margin-top:7em;">
        <div class="col-lg-9" style="margin:0 auto; text-align:center;">
            <h1 class="mt-5" style="color:white;">Per.ez URL Shortener</h1>
            <p style="color:white;">We are tired of those long URLs too...</p>
            <form>
                <div class="form-group">
                    <div class="input-group input-group-lg mb-3">
                        <input type="url" class="form-control" id="long_url" aria-describedby="urlHelp" placeholder="Enter your long URL">
                        <div class="input-group-append">
                            <button class="btn btn-warning btn-lg" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}